@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}
body
{
    min-height: 1000px;
}
header
{
    width: 100%;
    height: 40px;
    padding: 40px 100px;
    background-color: #fff;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .logo
{
    font-weight: 700;
    font-size: 2em;
    color: #111;
    text-decoration: none;
}
header .logo span
{
    color: #05B772;
}
header .navigation
{
    display: flex;
}
header .navigation li
{
    list-style: none;
    margin-left: 30px;
}
header .navigation li a
{
    text-decoration: none;
    color: #111;
}
header .navigation li a:hover
{
    color:#05B772 ;
}
.banner
{position: relative;
    width: 100%;
    min-height: 90vh;
    display: flex;
    
    align-items: center;
    background: url(image/bg.jpg);
    background-size: cover;
}
.banner .content
{
    max-width: 900px;
    text-align: left;
    margin-left: 50px;
    
}
.banner .content h2 
{
    font-size: 3em;
    color: #fff;
}
.banner .content p 
{
    font-size: 1em;
    color: #fff;

}
.btn 
{
    font-size: 1em;
    color: #fff;
    background: #05B772;
    display: inline-block;
    padding: 10px 30px;
    margin-top: 20px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    transition: 0.5s;
}
.btn:hover 
{
    letter-spacing: 6px;
}
.cards
{
    width: 100%;
    height: 60vh;
    
    display: flex;
    justify-content: space-evenly;
    position: relative;
    top: -50px;
}
.card
{
    padding: 0 10px;
    width: 30%;
    height: 50vh;
    border: 1px solid white;
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    box-shadow: 0 5px 35px rgba(0,0,0,0.08) ;
}
.fa-solid
{
    font-size: 2em;
    color: #fff;
}
.circle
{
    background-color: #05B772;
    width:80px;
    height:80px;
  
    border-radius:100%;
    line-height:80px;
    text-align:center;
    vertical-align:middle;
    display:inline-block;
}
.middle
{
    background-color: #05B772;
    border: 1px solid #05B772;

}
.middle .circle
{
    background-color: #fff;
}
.middle .fa-solid
{
    color: #05B772;
}
.aboutus
{
    width: 90%;
    height: 80vh;
    margin: 0 auto;
    
    display: flex;
}
.imgbx
{
    width: 50%;
    height: 80vh;
    background-image: url(image/aaa.jpg);
    background-size: cover;
}
.textbx
{
    width: 50%;
    height: 80vh;
    text-align: left;
    
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 50px;
}
.textbx h5
{
    color: #05B772;
}
.textbx h3
{
    font-weight: 500;
    font-size: 1.5em;
}
.quote
{
    height: 100px;
    width: 100%;
    text-align: center;
    padding-top: 20px;
    background-color: #F8F8F8;
    border-left: 5px solid #05B772;
    border-radius: 10px;
    font-style: italic;
    font-weight: 300;
}
.services
{   
    width: 100%;
    height: 150vh;
    margin-top: 50px;
    background:
     linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)
    ),
     url('image/service.jpg');
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
    
}
.text
{
    text-align: center;
    color: #fff;
    width: 100%;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.cards-service
{
    width: 100%;
    height: 100vh;
    color: #111;
    display: flex;
    flex-wrap:wrap;
    justify-content: space-evenly;
    
    
    
    
}
.card-service
{
    padding: 0 10px;
    width: 30%;
    height: 55vh;
    margin-bottom: 70px;
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    box-shadow: 0 5px 35px rgba(0,0,0,0.08) ;
    
}
.card-service a
{
    text-decoration: none;
    color: #05B772;
}
.nc
{
    color: #05B772;
    font-size: 1em;
}
.weare
{
    margin-top: 100px;
    width: 100%;
    height: 80vh;
    display: flex;
}
.bar
{
    
    width: 90%;
    height: 40vh;
    display: flex;
    flex-direction: column;
    z-index: 0;
    justify-content: space-evenly;
}
.progressbar
{
    margin-left: 20px;
}
.textbar
{
    display: flex;
    justify-content: space-between;
    width: 80%;
}
.outerlayer
{
    width: 90%;
    height: 2vh;
    background-color: #F3F3F3;
    border-radius: 5px;
    z-index: 1;
}
.innerlayer
{
    width: 90%;
    height: 2vh;
    background-color: #05B772;
    z-index: 10;
    position: relative;
    top: 0;
    border-radius: 5px;
}
.imgbxwe
{
    background-image: url(image/work.jpg);
    width: 50%;
    height: 80vh;
    background-size: cover;
}